<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>JEE6_5_primefaces</display-name>
	<welcome-file-list>
		<welcome-file>index.xhtml</welcome-file>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	
	
	  
	
	
	
	<context-param>
		<param-name>javax.faces.PROJECT_STAGE</param-name>
		<param-value>Development</param-value>
	</context-param>
	
	<env-entry>
		<env-entry-name>jsf/ClientSideSecretKey</env-entry-name>
		<env-entry-type>java.lang.String</env-entry-type>
		<env-entry-value>am9kZXRlcHV0b2hhY2tlcg==</env-entry-value>
	</env-entry>
	
	<context-param>
		<param-name>path7liter</param-name>
		<param-value>/wtpwebapps/AnagramatorEE/WEB-INF/lib/7literowkiSort.txt</param-value>
	</context-param>
	
	
	
	<env-entry>
		<env-entry-name>testEntryValue</env-entry-name>
		<env-entry-type>java.lang.String</env-entry-type>
		<env-entry-value>tonyHalik</env-entry-value>
	</env-entry>
	


	<context-param>
		<description>State saving method: 'client' or 'server' (=default). See JSF Specification 2.5.2</description>
		<param-name>javax.faces.STATE_SAVING_METHOD</param-name>
		<param-value>client</param-value>
	</context-param>


	
	
	
</web-app>